rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{datosUsuarios}/{document=**} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.idemp;
      allow create: if request.auth != null &&
                      request.resource.data.idemp is string &&
                      request.resource.data.usuario is string &&
                      request.resource.data.email is string &&
                      request.resource.data.fechaCreacion is timestamp &&
                      request.resource.data.ultimoAcceso is timestamp &&
                      request.auth.uid == request.resource.data.idemp;
    }
    
    match /{datosZodiaco}/{document=**} {
      allow read, update, delete: if request.auth != null;
      allow create: if request.auth != null &&
                      request.resource.data.posic is int &&
                      request.resource.data.signo is string &&
                      request.resource.data.rango is string &&
                      request.resource.data.elemento is string &&
                      request.resource.data.astro is string &&
                      request.resource.data.piedra is string &&
                      request.resource.data.url is string;
    }
  }
}
